<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @receiver.email %></h1>
    <p>
      <h1>Sample mail sent using smtp.<h1>
      <h4> <%= @body %> <h4>
    </p>
  </body>
</html>