
<center>


<%= form_for(@newPost) do |f| %>

  <div class="field">
    <%= f.text_area :content, autofocus: true%>
  </div>

  <br>


  <div class="actions">
    <%= f.submit "Add Tweet" %>
  </div>
<br>
<br>

<% end %>


</center>